<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>房間-<%= roomID %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
		<style>
            .scroll {
                max-height: 200px;
                overflow-y : auto;
            }
        </style>
    </head>
    <body>
        <!--網頁主外觀-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <span class="navbar-brand" href="#"><div id="roomID"></div></span><div id="userDisplay"></div><a class="navbar-brand btn btn-success" href="/gameRoom/">回到大廳</a>
        </nav>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card gameRegion">
						<span class="badge badge-primary">你</span>
						<div class="card" id="playerGameRegion"></div>
						<h1 class="card-text text-center" id="timerText1" style="color: red;"></h1>
						<div id="actionBox" style="height: 150px; overflow-y : scroll; display: none;">
							<table class="table table-dark" id="actionTable"></table>
						</div>
						<input class="btn btn-outline-warning" type="button" value="Run" onclick="runCode();" style="display: none;" id="gameButton6">
						<button class="btn btn-primary" onclick="readyBtn();" type="button" id="readyButton">準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card gameRegion">
						<input class="btn btn-outline-secondary" type="button" value="Forward" onclick="codeBtnAction('forward');" style="display: none;" id="gameButton1">
						<input class="btn btn-outline-secondary" type="button" value="Turn Right" onclick="codeBtnAction('right');" style="display: none;" id="gameButton2">
						<input class="btn btn-outline-secondary" type="button" value="Turn Left" onclick="codeBtnAction('left');" style="display: none;" id="gameButton3">
						<input class="btn btn-outline-secondary" type="button" value="Delete" onclick="codeBtnAction('delete');" style="display: none;" id="gameButton4">
						<input class="btn btn-outline-secondary" type="button" value="Restart" onclick="reStart();" style="display: none;" id="gameButton5">
						<span class="badge badge-success">對手</span>
						<div class="card" id="playerGameRegion2"></div>
						<h1 class="card-text text-center" id="timerText2" style="color: red;"></h1>
						<button class="btn btn-primary" type="button" id="competitorButton">準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body scroll" id="cardBody">
						</div>
					</div>
					<div class="form-group shadow-textarea">
						<label>輸入想說的話: </label>
						<div class="input-group-append">
							<textarea style="resize:none;" class="form-control z-depth-1" id="lobbyChat" rows="3" placeholder=""></textarea>
							<button class="input-group-text btn btn-primary" onclick="sendMsg();">傳送</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-body scroll" id="msgLog">
						</div>
					</div>
				</div>
			</div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
		<script>
			var userName = '';
			//init
			jQuery(document).ready(function($) {
				userName = sessionStorage.getItem('user');
				$('#roomID').html('<span class="navbar-brand order-md-last">房間: <%= roomID %>&nbsp;難度: <%= level %></span>');
				$('#userDisplay').html('<span class="navbar-brand order-md-last">目前暱稱: ' + userName + '</span>');
			});
		</script>
        <script src="/js/room.js"></script>
    </body>
</html>