<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>房間-<%= roomID %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
    </head>
    <body>
        <!--網頁主外觀-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <span class="navbar-brand" href="#"><div id="roomID"></div></span><div id="userDisplay"></div><a class="navbar-brand btn btn-success" href="/gameRoom/">回到大廳</a>
        </nav>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card gameRegion">
						<span class="badge badge-primary">你</span>
						<div class="card" id="playerGameRegion"></div>
						<h1 class="card-text text-center" id="timerText1" style="color: red;"></h1>
						<input class="btn btn-outline-secondary" type="button" value="forward" onclick="move();" style="display: none;" id="gameButton1">
						<input class="btn btn-outline-secondary" type="button" value="turn Right" onclick="turn('right')" style="display: none;" id="gameButton2">
						<input class="btn btn-outline-secondary" type="button" value="turn Left" onclick="turn('left')" style="display: none;" id="gameButton3">
						<button class="btn btn-primary" onclick="readyBtn();" type="button" id="readyButton">準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card gameRegion">
                        <span class="badge badge-success">對手</span>
						<div class="card" id="playerGameRegion2"></div>
						<h1 class="card-text text-center" id="timerText2" style="color: red;"></h1>
						<button class="btn btn-primary" type="button" id="competitorButton">準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body scroll" id="msgLog">
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var userName = '';
            //init
            jQuery(document).ready(function($) {
                userName = sessionStorage.getItem('user');
                $('#roomID').html('<span class="navbar-brand order-md-last">房間: <%= roomID %></span>');
                $('#userDisplay').html('<span class="navbar-brand order-md-last">目前暱稱: ' + userName + '</span>');
            });
            //SOCKET
            var socket = io.connect();
            //使用者加入房間告知後端
            socket.on('connect', function() {
                socket.emit('join', userName);
            });
            //接收後端訊息
            socket.on('system', function(sysMsg, users) {
                var msg = '【<span style="color: red">系統</span>】: '+sysMsg+'<br>';
                $('#msgLog').append(msg);
                console.log('後端通知: '+sysMsg);
                console.log('在此房間的使用者數量: '+users.length);
            });
            //房間已滿
            socket.on('roomFull', function() {
                if(!alert('房間已滿，將退回大廳')) {
                    document.location.href = '/gameRoom/';
                }
            });
			//玩家
			var direction=2; //0:North  1:East 2:South 3:West
			var userX=0;//烏龜位置在地圖的第幾列
			var userY=0;//烏龜位置在地圖的第幾行
			var game;//玩家遊戲畫面
			var wall;//圍牆
			var player;//玩家人物所在位置
			var goal;
			//對手
			var comDirection=2; //0:North  1:East 2:South 3:West
			var comX=0;//對手烏龜位置在地圖的第幾列
			var comY=0;//對手烏龜位置在地圖的第幾行
			var comGame;//對手遊戲畫面
			//x為自定義產生地圖隔數(幾x幾)
			//mazeArray產生地圖陣列return [x][y][top,right,bottom,left]
			var mazeArray;
            socket.on('gameProc', function(maze, x) {
                console.log('遊戲開始!');
				mazeArray = maze;
				var config = {
					type: Phaser.CANVAS,
					width: x*90+10,
					height: x*90+10,
					parent: playerGameRegion,
					physics: {
						default: 'arcade',
						arcade: {
							debug: false
						}
					},
					scene: {
						preload: preload,
						create: create,
					}
				};
				$('#readyButton').hide();
				$('#competitorButton').hide();
				//倒數10秒
				var count = 10;
				var t = setTimeout(time = function() {
					if(count === 0) {
						clearTimeout(t);
						$('#timerText1').hide();
						$('#timerText2').hide();
						$('#gameButton1').show();
						$('#gameButton2').show();
						$('#gameButton3').show();
						game = new Phaser.Game(config);
					}else {
						$('#timerText1').text(count);
						$('#timerText2').text(count);
						count--;
						setTimeout(time, 1000);
					}
				}, 1000);
				//GAME ENGINE PHASER.JS//
				function preload() {
					this.load.image('sky', '/assets/sky.png');
					this.load.image('wall', '/assets/wall.png');
					this.load.spritesheet('turtle',
						'/assets/turtle.png',
						{ frameWidth: 50, frameHeight: 50 }
					);
					this.load.image('goal','/assets/star.png');
				}
				function create() {
					this.add.image(400, 300, 'sky');
					wall = this.physics.add.staticGroup();
					for(var i = 0; i < x; i++) {
						for(var j = 0; j < x; j++)
						{
							for(var k = 0; k < 4; k++){
								if(mazeArray[i][j][k]==0){
									wall.create(50+j*90, 50+i*90, 'wall').angle=90*k;
								}
							}
						}
					}
					goal = this.physics.add.sprite(x*90-40, x*90-40, 'goal');
					player = this.physics.add.sprite(50, 50, 'turtle');
					// anims key值：從南向右轉turn0~turn3  //從南向左轉turn4~turn7
					for(var i=0;i<8;i++) {
						this.anims.create({
							key: 'turn'+i,
							frames: this.anims.generateFrameNumbers('turtle', { start: 2*i, end: 2*i+2 }),
							frameRate: 20,
						});
					}
					this.anims.create({
						key: 'north',
						frames: [ { key: 'turtle', frame: 4} ],
						duration: 1000,
						frameRate: 1
					});
					this.anims.create({
						key: 'east',
						frames: [ { key: 'turtle', frame: 6 } ],
						duration: 1000,
						frameRate: 1
					});
					this.anims.create({
						key: 'south',
						frames: [ { key: 'turtle', frame: 0 } ],
						duration: 1000,
						frameRate: 1
					});
					this.anims.create({
						key: 'west',
						frames: [ { key: 'turtle', frame: 2 } ],
						duration: 1000,
						frameRate: 1
					});
				}
				//----------END.----------//
            });
			//對手準備狀態
			socket.on('readyClick', function(data) {
				if(data === true) {
					$('#competitorButton').html('準備完成&nbsp;<i class="fa fa-check" aria-hidden="true"></i>');
				}else if(data === false) {
					$('#competitorButton').html('準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i>');
				}
			});
			//----------遊戲----------//
			var ready = false;
			function readyBtn() {
				if(ready === false) {
					ready = true;
					$('#readyButton').html('準備完成&nbsp;<i class="fa fa-check" aria-hidden="true"></i>');
					$('#readyButton').addClass('disabled');
				}else if(ready === true) {
					ready = false;
					$('#readyButton').html('準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i>');
					$('#readyButton').removeClass('disabled');
				}
				socket.emit('readyClick', userName);
			}
			function move() {
				if(direction==0){
					if(mazeArray[userX][userY][0]==0){
						alert("bomb north!")
					}else{
						player.anims.play('north');
						player.y -=90;
						userX-=1;
					}
				}else if(direction==1){
					if(mazeArray[userX][userY][1]==0){
						alert("bomb east!")
					}else{
						player.anims.play('east');
						player.x +=90;
						userY+=1;
					}
				}else if(direction==2){
					if(mazeArray[userX][userY][2]==0){
						alert("bomb south!")
					}else{
						player.anims.play('south');
						player.y +=90;
						userX+=1;
					}
				}else if(direction==3){
					if(mazeArray[userX][userY][3]==0){
						alert("bomb west!")
					}else{
						player.anims.play('west');
						player.x -=90;
						userY-=1;
					}
				}
			}
			function turn(dir) {
				if(dir=="right"){
					direction=(direction==3)?0:direction+=1;
					if(direction==0){ //西到北
						player.anims.play('turn1');
					}else if(direction==1) { // 北到東
						player.anims.play('turn2');
					}else if(direction==2){ //東到南
						player.anims.play('turn3');
					}else if(direction==3){ //南到西
						player.anims.play('turn0');
					}
				} else if(dir=="left"){
					direction=(direction==0)?3:direction-=1;
					if(direction==0){  //東到北
						player.anims.play('turn5');
					}else if(direction==1){ //南到東
						player.anims.play('turn4');
					}else if(direction==2){ //西到南
						player.anims.play('turn7');
					}else if(direction==3){ //北到西
						player.anims.play('turn6');
					}
				}
			}
            socket.on('gameStop', function() {
                console.log('遊戲停止!');
            });
        </script>
    </body>
</html>