<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>房間-<%= roomID %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
		
        <style>
            .gameRegion {
                min-height: 350px;
            }
        </style>
    </head>
    <body>
        <!--網頁主外觀-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <span class="navbar-brand" href="#"><div id="roomID"></div></span><div id="userDisplay"></div><a class="navbar-brand btn btn-success" href="/gameRoom/">回到大廳</a>
        </nav>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card gameRegion">
						<span class="badge badge-primary">你</span>
						<div class="card" id="playerGameRegion"></div>
						<button class="btn btn-primary" onclick="readyBtn();" type="button" id="readyButton">準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card gameRegion">
                        <span class="badge badge-success">對手</span>
						<div class="card" id="playerGameRegion2"></div>
						<button class="btn btn-primary" type="button" id="competitorButton">準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body scroll" id="msgLog">
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var userName = '';
            
            //init
            jQuery(document).ready(function($) {
                userName = sessionStorage.getItem('user');
                $('#roomID').html('<span class="navbar-brand order-md-last">房間: <%= roomID %></span>');
                $('#userDisplay').html('<span class="navbar-brand order-md-last">目前暱稱: ' + userName + '</span>');
            });
            
            //SOCKET
            var socket = io.connect();
            //使用者加入房間告知後端
            socket.on('connect', function() {
                socket.emit('join', userName);
            });
            
            //接收後端訊息
            socket.on('system', function(sysMsg, users) {
                var msg = '【<span style="color: red">系統</span>】: '+sysMsg+'<br>';
                $('#msgLog').append(msg);
                console.log('後端通知: '+sysMsg);
                console.log('在此房間的使用者數量: '+users.length);
            });
            
            //房間已滿
            socket.on('roomFull', function() {
                if(!alert('房間已滿，將退回大廳')) {
                    document.location.href = '/gameRoom/';
                }
            });
            /*
			//對手準備狀態
			socket.on('readyClick', function(data) {
				if(data === true) {
					$('#competitorButton').html('準備完成&nbsp;<i class="fa fa-check" aria-hidden="true"></i>');
				}else if(data === false) {
					$('#competitorButton').html('準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i>');
				}				
			});*/
			
			
            //----------遊戲----------//
			var ready = false;
			function readyBtn() {
				if(ready === false) {
					ready = true;
					$('#readyButton').html('準備完成&nbsp;<i class="fa fa-check" aria-hidden="true"></i>');
					$('#readyButton').addClass('disabled');					
				}else if(ready === true) {
					ready = false;
					$('#readyButton').html('準備&nbsp;<i class="fa fa-question" aria-hidden="true"></i>');
					$('#readyButton').removeClass('disabled');
				}
				socket.emit('readyClick');
			}
			
            socket.on('gameProc', function() {
                console.log('遊戲開始!');
            });
            socket.on('gameStop', function() {
                console.log('遊戲停止!');
            });
			
			//GAME ENGINE PHASER.JS//
			var config = {
				type: Phaser.AUTO,
				width: 800,
				height: 600,
				parent: playerGameRegion,
				physics: {
					default: 'arcade',
					arcade: {
						gravity: { y: 300 },
						debug: false
					}
				},
				scene: {
					preload: preload,
					create: create,
					update: update
				}
			};

			var player;
			var cursors;
			var score = 0;
			var timeText;

			var game = new Phaser.Game(config);

			function preload ()
			{
				this.load.image('background', '../assets/background.jpg');
				this.load.spritesheet('player', '../assets/dude.png', { frameWidth: 32, frameHeight: 48 });
			}

			function create ()
			{
				
				this.add.image(0, 0, 'background');
				timeText = this.add.text(16, 16, '時間: 0', { fontSize: '32px', fill: '#000' });
				
				
			}

			var sec = 0;
			function update ()
			{
				timeText.setText(sec);	
			}
			
			
			setInterval(function() {
				sec++;
			},1000);
			
            //----------END.----------//
            
        </script>
    </body>
</html>